.panda-bg{
    background-color: #FCEAE8;
}
.categories img{
    width: 100px;
}
#category-1{
    background-color: #FFA500;
}
#category-2{
    background-color: #DA70D6;
}
#category-3{
    background-color: #0000FF;
}
.price{
    color: #FF297D;
}
.panda-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.panda-buy-now:hover{
    color: #fff;
}